In [4]:
class Student:
    def __init__(self,rollno,name):
        self.name = name
        self.rollno=rollno
        
    def talk(self):
        print("Hello my name is: ",self.name)
        print("Hello my rollno is:",self.rollno)
        
s = Student(100,'Rudra')
s1 = Student(101,'Satya')
print(s.name)
print(s.rollno)
s.talk()
print(s1.name)
print(s1.rollno)
s1.talk()

Rudra
100
Hello my name is:  Rudra
Hello my rollno is: 100
Satya
101
Hello my name is:  Satya
Hello my rollno is: 101

In [8]:
class Employee:
    def __init__(self,eno,ename,esal,eadd):
        self.ename =ename 
        self.eno=eno
        self.esal = esal
        self.eadd = eadd
    def info(self):
        print('*' * 20)
        print("Employee no ",self.eno)
        print("Employee name ",self.ename)
        print("Employee salary ",self.esal)
        print("Employee address ",self.eadd)
        print('*' * 20)
        
e1=Employee(10,'Satya',100000,'Keonjhar')
e2 =Employee(29,'Subha',100100,'Keonjhar market')
e1.info()
e2.info()

********************
Employee no  10
Employee name  Satya
Employee salary  100000
Employee address  Keonjhar
********************
********************
Employee no  29
Employee name  Subha
Employee salary  100100
Employee address  Keonjhar market
********************

# To display the doc string
* Here ''' Python is a programming language''' is the doc string

In [9]:
class Student:
    ''' Python is a programming language'''
print(Student.__doc__)

 Python is a programming language

# help() -To get complete information about a class

In [10]:
class Student:
    ''' Python is a programming language'''
print(Student.__doc__)
print(Student)

 Python is a programming language
<class '__main__.Student'>

In [3]:
class Student:
    def __init__(self):
        print(id(self))
s1 = Student()
print(id(s1))
s2 = Student()
print(id(s2))

2287340225440
2287340225440
2287339981600
2287339981600

# ------------------------------------------------------------------------------

In [7]:
class Employee:
    def __init__(self,eno,ename,esal,eadd):
        self.ename =ename 
        self.eno=eno
        self.esal = esal
        self.eadd = eadd
    def info(self):
        print('*' * 20)
        print("Employee no ",self.eno)
        print("Employee name ",self.ename)
        print("Employee salary ",self.esal)
        print("Employee address ",self.eadd)
        print('*' * 20)
        
e1=Employee(eno = 10,esal = 100000,ename ='satya',eadd ='Keonjhar')
e2 =Employee(29,100010,'Subha','Keonjhar market')
e1.info()
e2.info()

********************
Employee no  10
Employee name  satya
Employee salary  100000
Employee address  Keonjhar
********************
********************
Employee no  29
Employee name  100010
Employee salary  Subha
Employee address  Keonjhar market
********************

* instead of self we can use any variable
* self is not inbuilt variable
* whatever variable we are passing instead of self it will internally work as self
* but recommended to use 'self ' because of good programming practice

In [10]:
class Student:
    def __init__(s,rollno,name):
        s.name = name
        s.rollno=rollno
        
    def talk(x):
        print("Hello my name is: ",x.name)
        print("Hello my rollno is:",x.rollno)
        
s = Student(100,'Rudra')
s1 = Student(101,'Satya')
print(s.name)
print(s.rollno)
s.talk()
print(s1.name)
print(s1.rollno)
s1.talk()

Rudra
100
Hello my name is:  Rudra
Hello my rollno is: 100
Satya
101
Hello my name is:  Satya
Hello my rollno is: 101